<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>

<head>
  <meta charset="utf-8">
  <link href="{% sass_src 'css/home.scss' %}" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Home</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="title">
        <h1>Trip Suffer</h1>
      </div>
      <div class="title__img">
        <img src="" alt="">
      </div>
      <a class="new__route" href="">새 여행 경로 생성</a>
      <a class="show__route" href="">여행 경로 목록</a>
    </header>
    <div class="main">
      <div class="main__container">
        <div class="title">
          <div class="title__main">새 여행 경로 생성</div>
          <div class="title__map"><input id="title__input" type="text" placeholder="제목을 입력하세요."></div>
        </div>
        <div class="position">
          <div class="position__container">
            <div class="location">
              <div class="location__address"></div>
            </div>
            <button class="button__position"><img src="{% static 'img/position.png' %}"></button>
          </div>
        </div>
        <div id="map"></div>
        <div class="tracking">

          <button class="button__start">
            <h3>Start</h3>
          </button>
          <button class="button__end">
            <h3>End</h3>
          </button>

        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>
</body>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd4jvxbs2P8Ak0JooTliUo_4E3QrnTykk&callback=initMap&region=kr"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/position.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tracking.js' %}"></script>

</html>