<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>

<head>
  <meta charset="utf-8">
  <link href="{% sass_src 'css/home.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'css/toggles.scss' %}" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Trip Suffer</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="header__top">
        <div class="service"><img src="{% static 'img/name.png' %}"></div>
        <div class="service__logo"><img src="{% static 'img/logo.png' %}"></div>
      </div>
      <div class="header__bottom">
        <div class="new__route"><p>새 여행 경로 생성</p></div>
        <div class="show__route"><p>여행 경로 목록</p></div>
      </div>
    </header>
    <div class="main">
      <div class="main__container">
        <div class="title">
          <div class="title__name">여행 제목</div>
          <div class="title__map"><input id="title__input" onkeyup="getTitle()" type="text" placeholder="여행 제목을 입력하세요">
          </div>
          <div class="title__submit">저장</div>
        </div>
        <div class="title__get">
          <div class="settitle__name">여행 제목</div>
          <div class="settitle__set"></div>
        </div>
        <div class="position">
          <div class="position__container">
            <div class="location">
              <div class="location__name">내 현재 위치</div>
              <div class="location__address"></div>
              <button class="button__position"><img src="{% static 'img/position.png' %}"></button>
            </div>
          </div>
        </div>
        <div id="map"></div>
        <div class="tracking">
          <button class="button__test"><h3>Test</h3></button>
          <button class="button__end"><h3>End</h3></button>
          <form>
            <input type="file" class="image" accept="image/*" multiple onchange="getImage()"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
  </div>
</body>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd4jvxbs2P8Ak0JooTliUo_4E3QrnTykk&callback=initMap&region=kr"
  type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/variables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toggles.js' %}"></script>
<script type="text/javascript" src="{% static 'js/position.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tracking.js' %}"></script>
<script type="text/javascript" src="{% static 'js/image.js' %}"></script>
</html>