<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>

  <head>
    <meta charset="utf-8">
    <link href="{% sass_src 'css/list--mobile.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'css/toggles.scss' %}" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 목록</title>
  </head>

  <body>
    <div class="container">
      <div class="service__tab--none">
        <div class="account__container">
          {%if user.is_authenticated%}
            <div class="myid">
              {{user.username}}
            </div>
            <a href="{%url 'logout'%}">logout</a>
          {%else%}
            <div class="signup" onclick="location.href='signup/'"><p>회원가입</p></div>
            <div class="login" onclick="location.href='login/'"><p>로그인</p></div>
          {%endif%}
          <div class="close"></div>
        </div>
        <div class="pannel">
          <button class="button__list" onclick="location.href='list/mobile/'"><img src="{% static 'img/travel.png' %}"><p>여행 목록</p></button>
          <form class="filebox">
            <label for="ex_file">
              <img src="{% static 'img/travel.png' %}">
              <p>사진 업로드</p>
            </label>
            <input type="file" id="ex_file" class="button__image" accept="image/*" multiple onchange="getImage()"/>
          </form>
        </div>
        <div class="copyright__container">
          <p>&copy; Like Tomato</p>
          <div class="copyright__name">
            <p>박규리</p>
            <p>임유림</p>
            <p>최광일</p>
          </div>
        </div>
      </div>
      <header>
        <div class="header__top">
          <div class="service" onclick="location.href='/'"><img src="{% static 'img/name.png' %}"></div>
          <div class="service__logo"><img src="{% static 'img/logo.png' %}"></div>
          <div class="service__container--mobile">
            <div class="service__tab"><img src="{% static 'img/tab.png' %}"></div>
            <div class="service__container">
              <div class="service__logo--mobile"><img src="{% static 'img/logo.png' %}"></div>
              <div class="service--mobile" onclick="location.href='/'">Trip Surfer</div>
            </div>
          </div>
        </div>
      </header>
      <div class="container__main">
      </div>
    </div>
  </body>

  <script type="text/javascript" src="{% static 'js/variables/globalVariables.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/variables/mobileVariables.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/toggles.js' %}"></script>
</html>