html, body,
h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer, header {
	display: block;
}

body {
	line-height: 1;
}

button{
	all:unset;
}

input:focus {
	outline: none;
}
