@import './setup/reset.scss';
@import './setup/_variables.scss';

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $border-line;

  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: rgb(84,100,138);
    font-weight: bold;
  }

  .title__img{
    border: 1px solid black;
    width: 30px;
    height: 30px;
  }
  .new__route{
    color: rgb(84,100,138);
    font-weight: bold;
    margin-left: 50px;
    text-decoration:none;

  }
  .show__route{
    color: rgb(84,100,138);
    font-weight: bold;
    margin-left: 50px;
    text-decoration:none;

  }
}

.main{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #88a2c7, rgba(181, 214, 190, 0.92));

  &__container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .title{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50px;

      &__main{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: rgb(84,100,138);


      }

      &__map{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 3px solid rgb(84,100,138);
        
        border-radius: 10px;

        #title__input{
          margin:0px 10px;
          width: 100%;
          height: 90%;
          border: 0px;
          background-color:transparent;
          color: rgb(84,100,138);
        }
      }
    }

    .position{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 50px;

      &__container{
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .location{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          height: 40px;
          margin-right: 10px;
          width: 100%;
          background-color: rgb(84,100,138);
          border-radius: 10px;

          &__address{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: white;
            text-align: center;

          }
        }
      }
    }
  
    #map{
      width: 700px;
      height: 400px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tracking{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

footer{
  width: 100%;
  height: 200px;
  border-top: 1px solid $border-line;
}

.button{
  &__position{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 30px;
      height: 30px;  
    }
  }

  &__start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 40px;
    background-color: rgb(84,100,138);
    color: white;
  }
  &__end{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 50px;
    background-color: rgb(84,100,138);
    color: white;
  }
}