@import './setup/reset.scss';
@import './setup/_variables.scss';

html{
  width:100%;
  height:100%;

  .container{
    position: relative;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    
    .service__tab{
      &--none{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: "Noto Sans KR", sans-serif;
        height: 100vh;
        width: 70%;
        left: -70%;
        background-color: #ffffffc4;
        z-index:99;
        transform:translate(0,0); 
        transition:transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  
        .pannel{
          display:none;
          width: 100%;
          font-size: 5vw;
  
          &--display{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: start;
            width: 100%;
            height: 100vh;
            padding-top: 3vh;
            z-index: 98;
            border:1% solid black;
          }
          .button{
            &__newMap{
              display: none;
  
              &--display{
                margin-left: 4%;
                display: flex;
                position:relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 12vh;
                margin-bottom: 12%;
                margin-left: 8%; 
      
                p{
                  padding-top: 10%;
                }
      
                img{
                  border: 1px solid rgb(126, 126, 126);
                  border-radius: 15%;
                  padding-top: 1vh;
                  height: 5vh;
                  width: 45%;
                  padding: 5%;
  
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                    background-color: rgb(235, 235, 235);
                  }
                }
              }
            }
  
            &__start{
              display: none;
  
              &--display{
                margin-left: 4%;
                display: flex;
                position:relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 12vh;
                border-radius: 1vh;
                margin-bottom: 12%;
                transition-duration:0.1s;
      
                p{
                  padding-top: 10%;
                }
      
                img{
                  border: 1px solid rgb(126, 126, 126);
                  border-radius: 15%;
                  padding-top: 1vh;
                  height: 5vh;
                  width: 45%;
                  padding: 5%;
  
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                    background-color: rgb(235, 235, 235);
                  }
                }
              }
            }
  
            &__list{
              display: none;
  
              &--display{
                margin-left: 4%;
                display: flex;
                position:relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 12vh;
                border-radius: 1vh;
                margin-bottom: 12%;
                margin-left: 8%; 
      
                p{
                  padding-top: 10%;
                }
      
                img{
                  border: 1px solid rgb(126, 126, 126);
                  border-radius: 15%;
                  padding-top: 1vh;
                  height: 5vh;
                  width: 45%;
                  padding: 5%;
  
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                    background-color: rgb(235, 235, 235);
                  }
                }
              }
            }
    
            &__test{
              display: none;
  
              &--display{
                margin-left: 4%;
                display: flex;
                position:relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 12vh;
                border-radius: 1vh;
                margin-bottom: 12%;
                
                p{
                  padding-top: 10%;
                }
      
                img{
                  border: 1px solid rgb(126, 126, 126);
                  border-radius: 15%;
                  padding-top: 1vh;
                  height: 5vh;
                  width: 45%;
                  padding: 5%;
  
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                    background-color: rgb(235, 235, 235);
                  }
                }
              }
            }
    
            &__delete{
              display: none;
  
              &--display{
                position:relative;
                margin-left: 4%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40%;
                height: 12vh;
                margin-left: 8%; 
                margin-bottom: 12%;
      
                p{
                  padding-top: 10%;
                }
      
                img{
                  border: 1px solid rgb(126, 126, 126);
                  border-radius: 15%;
                  padding-top: 1vh;
                  height: 5vh;
                  width: 45%;
                  padding: 5%;
  
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                    background-color: rgb(235, 235, 235);
                  }
                }
              }
            }
          }
  
          .filebox{
            display:none;
  
            &--display{
              margin-left: 4%;
              display: flex;
              position:relative;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 40%;
              height: 12vh;
              border-radius: 1vh;
              margin-bottom: 12%;
              transition-duration:0.1s;
            }
  
            input[type="file"] {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0, 0, 0, 0);
              border: 0;
            }
      
            label {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100vh;
              border-radius: 1vh;
  
              p{
                font-size:5vw;
                padding-top: 2vh;
              }
              &:hover{
                cursor: pointer;
              }
      
              &:active{
                cursor: pointer;
              }
            }
  
            img{
              border: 1px solid rgb(126, 126, 126);
              border-radius: 15%;
              padding-top: 1vh;
              height: 5vh;
              width: 45%;
              padding: 5%;
  
              &:hover{
                cursor: pointer;
              }
      
              &:active{
                cursor: pointer;
                background-color: rgb(235, 235, 235);
              }
            }
          }

        }
  
        .account__container{
          width:100%;
          display: flex;
          flex-direction: row;
          height: 10vh;
          border-bottom: 1px solid $border-line;
          background-color:  rgb(255, 255, 255);
          z-index: 99;
          font-size: 5vw;
  
          .login{
            display:none;
  
            &--display{
              display:flex;
              align-items: center;
              color: black;
              height: 8vh;
              margin-left: 4%;
              font-weight: 500;
            }
          }
  
          .signup{
            display:none;
  
            &--display{
              display:flex;
              height: 8vh;
              align-items: center;
              color: black;
              margin-left: 6%;
              font-weight: 500;
            }
          }
  
          .close{
            display:flex;
            width:14%;
            height: 4vh;
            margin-top: 5%;
            margin-left: auto;
            margin-right: 4%;
            border: 1px solid rgb(235, 233, 233);
            background-color: rgba(201, 201, 201, 0.952);
  
            &:active{
              background-color: rgba(201, 201, 201, 0.747);
            }
          }
        }
  
        .copyright{
          &__container{
            display:flex;
            flex-direction: column;
            width:100%;
            font-size: 5vw;
            border-top: 1px solid rgb(212, 212, 212);
            background-color: rgb(87, 87, 87);
            height:23vh;
            color: white;
  
            p{
              margin-left: 8%;
              margin-top: 3vh;
            }
          }
  
          &__name{
            display:flex;
            flex-direction: row;
            margin-left: 8%;
  
            p{
              margin-left: 0;
              margin-right: 2vw;
            }
          }
          
        }
      }
  
      &--display{
        transform:translate(100%,0);
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.219);
      }
    }
  
    header{
      width: 100%;
      height: 8vh;
  
      .header{
        &__top{
          border-bottom: 1px solid $border-line;
          display: flex;
          flex-direction: row;
          height:8vh;
          width: 100%;
          font-family: 'Bazzi';
          font-size: 7vw;
          z-index:99;
  
          .service{
            display:none;
            &__container{
              display:flex;
              flex-direction: row;
              margin-left: 2%;
            }
            &__tab{
              display:flex;
              width:20%;
              height: 4vh;
              margin-left: 3%;
  
              img{
                width:100%;
              }
  
              &:active{
                background-color: rgba(201, 201, 201, 0.747);
              }
            }
  
            &__logo{
              display:none;
            }
            &__container--mobile{
              height:7vh;
              display:flex;
              flex-direction: row;
              align-items: center;
  
              .service{
                &__logo--mobile{
                  display:flex;
                  justify-content: center;
                  align-items: center;
                  height:7vh;
                  width: 8%;
                  padding-left: 2%;
  
                  img{
                    height:4vh;
                    width:100%;
                  }
                }
                
                &--mobile{
                  display:flex;
                  justify-content: start;
                  align-items: center;
                  width: 40%;
                  height: 7vh;
                  padding-left: 2%;
                
                  &:hover{
                    cursor: pointer;
                  }
          
                  &:active{
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  
    &__main{
      width: 100%;
      height: 100vh;
      position:relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      z-index:97;
    }
  }
  
}
  